.gradient-text {
    background: linear-gradient(to right, #FF00FF, #FF69B4);
    -webkit-background-clip: text;
    color: transparent;
  }
.gradient-text:hover {
    background: linear-gradient(to right, #FF69B4, #FF00FF);
    -webkit-background-clip: text;
    color: transparent;
  }
  /* Add a class for the button on hover */
.button-icon:hover .icon {
  transform: translateX(7px); /* Adjust the amount you want the icon to move */
  transition: transform 0.5s ease; /* Adjust the transition duration and easing as needed */
}
